.background-custom {
    display: flex;
    width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(250, 55, 55, 0.5)),
    url("https://imgur.com/odYBcCI.jpeg");
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(250, 55, 55, 0.5)),
    url("https://imgur.com/zsaMtPr.jpeg"); */
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(250, 55, 55, 0.5)),
    url("https://imgur.com/4J1s1s3.jpeg"); */
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(250, 55, 55, 0.5)),
    url("https://imgur.com/0Ur5Kqr.jpeg"); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0%;
    top: 0%;
    margin: 0%;
}

.container {
    width: 100%;
    height: 100vh;
}

.nav-bar{
    background: linear-gradient(0deg, #c22c2c 0%, #f64d4d 100%);
    box-shadow: inset 0px 2px 2px 0px #ecbbff80, 5px 5px 10px 0px rgba(26, 0, 34, 0.1),
    4px 4px 5px 0px #1a00221a;
    height: 80px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.logo img {
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    width: 21rem;
    position: static;
    overflow: hidden;
    position: absolute;
    top: 45%;
    left: 1%;
    transform: translate(-1%, -45%);
    overflow: hidden;
    cursor: pointer;
}

.header {
    z-index: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.home {
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.copyright {
    padding-bottom: 10px;
}











