.bg_top_nav{
    background: transparent;
    z-index: 1;
    display: flex;
    position: relative;
    margin-right: 0;
    text-align: right;
    margin-top: 1.5rem;
}

.flag {
    opacity: 1 !important;
}

.flag:hover {
    opacity: 1 !important;
}

.button_lang {
    margin-left: -1.15rem !important;
/*     margin-right: 1.25rem !important; */
    background-color: transparent;
    margin: 0;
    color: #d32f2f !important;
    background: linear-gradient(0deg, #d5d5d5 0%, #ffffff 75%) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) !important;
    /* border-color: #d5d5d5; */
    border-width: 2px !important;
    border-radius: 3px !important;
    padding: 0.2rem !important;
    width: 100%;
    font-family: "Open Sans" !important;
    font-weight: 800 !important;
    font-size: 15px !important;
    text-transform: uppercase;
    outline: none;
    border: none;
}

.button_lang:hover {
    color: #ffffff !important;
    font-family: "Open Sans" !important;
    font-weight: 600 !important;
    background: none !important;
    outline-color: white !important;
    outline-width: 2px !important;
    outline-offset: -1px !important;
    outline-style: solid !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: none !important;
    transition: none;
    animation: none;
    background-color: transparent,
    
}

.button_lang:focus {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
    background-color: transparent;
    opacity: 0.6;
}

/* .button_lang {
    color: #d32f2f;
    background: linear-gradient(0deg, #d5d5d5 0%, #ffffff 75%) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-color: #d5d5d5;
    border-width: 2px !important;
    border-radius: 3px !important;
    width: 50px;
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 27px;
    margin-right: 25px;
    padding-left: 7px;
    padding-right: 7px;
    border: none;
} */

/* .button_lang:hover {
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 600;
    background: none !important;
    outline-color: white;
    outline-width: 2px;
    outline-offset: -1px;
    outline-style: solid;
    box-shadow: none;
    -webkit-box-shadow: none;
} */

/* .button_lang:active {
    opacity: 0.55;
} */

/* .globe_icon {
    color: #d32f2f;
    background: linear-gradient(0deg, #d5d5d5 0%, #ffffff 75%) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-color: #d5d5d5;
    border-width: 2px !important;
    border-radius: 0 0 5px 5px !important;
    font-size: 35px !important;
    padding: 7px;
    margin-right: 75px;
} */

/* /////////////////////////////////////////////////// */
/* Responsiveness */
@media screen and (max-width: 1200px) {
    .bg_top_nav{
        margin-right: -0.5rem;
    }

    .flag {
        height: 1rem !important;
        width: 1rem !important;
        margin-left: -0.5rem !important;
    }

    .button_lang {
        padding: 0.25rem !important;
        font-size: 14px !important; 
        margin-left: -1.15rem !important;
    }

}

@media screen and (max-width: 992px) {
    .bg_top_nav{
        margin-right: -0.75rem;
    }

    .flag {
        height: 0.5rem !important;
        width: 0.5rem !important;
        margin-left: -0.75rem !important;
    }

    .button_lang {
        padding: 0.25rem !important;
        font-size: 13px !important; 
        margin-left: -1.5rem !important;
        
    }
}

/* @media screen and (max-width: 768px) {} */

/* @media screen and (max-width: 600px) {} */

/* @media only screen and (max-width: 360px) {} */







