.app-bar-2 {
    background: linear-gradient(0deg, #c22c2c 0%, #f64d4d 100%) !important;
    box-shadow: inset 0px 2px 2px 0px #ecbbff80, 5px 5px 10px 0px rgba(26, 0, 34, 0.1),
        4px 4px 5px 0px #1a00221a !important;
    height: 80px !important;
    width: 100% !important;
    position: relative;
    /* overflow: hidden; */
}

.toolbar-2 {
    margin-top: -0.5rem !important;
    margin-left: -1.5rem !important;
}

.language-dropdown {
    margin-top: -1rem;
}

.logo {
    margin-top: 6rem !important;
    /* margin-bottom: -1rem; */
    overflow: hidden !important;
}

.profile-avatar {
    margin-top: 0.25rem !important;
    z-index: 1;
}